html {
	min-height: 100%;
}

#cookingVideo {
	height: 100vh;
	width: 100vw;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

/* page content */
.homepage {
	position: fixed;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 100%;
	padding: 20px;
}

body {
	padding-top: 80px;
	background: rgba(255, 223, 197);
	background-image: linear-gradient(top, #ffffff, rgba(255, 223, 197));
}

.c_image {
	width: 100px;
}

.btn {
	color: white;
}
.btn-primary {
	background-color: rgb(253, 137, 41);
	border-color: rgb(253, 137, 41);
}

.btn-primary:hover {
	background-color: rgb(253, 126, 20);
	border-color: rgb(253, 126, 20);
}

.bg-light {
	background-color: rgba(253, 126, 20) !important;
}

.btn-secondary {
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn-secondary:hover {
	background-color: rgb(211, 158, 0);
	border-color: rgb(211, 158, 0);
}

.list-group-item {
	background-color: rgba(0, 0, 0, 0) !important;
	/* border: none; */
}
