{% extends 'base.html' %} {% block content %}
<div class="row justify-content-md-center margin-top-1">
	<div class="col-md-7 col-lg-5">
		<h1>Edit Your Profile</h1>
		<form method="POST" class="form-floating" enctype="multipart/form-data">
			{{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
			'hidden' %}
			<div class="form-group">
				<label for="{{field.label.text}}">{{field.label.text}}</label>
				{{field(placeholder=field.label.text, class="shadow form-control my-2")
				}}
			</div>
			{% for error in field.errors %}
			<div class="text-danger form-text">{{ error }}</div>
			{% endfor %} {% endfor %}
			<button type="submit" class="shadow btn btn-primary">Edit</button>
		</form>
	</div>
</div>

{% endblock content %}
