<!-- Basic forms template. Includes j_form_title, j_form_btn, j_form_script -->
{% extends 'base.html' %} {% block content %}
<div class="container my-3">
	<div class="row justify-content-md-center margin-top-1">
		<div class="col-md-7 col-lg-5">
			<h1>{{ j_form_title }}</h1>
			<form method="POST" class="form-floating" enctype="multipart/form-data">
				{{ form.hidden_tag() }} {% for field in form if field.widget.input_type
				!= 'hidden' %}
				<div class="form-group">
					<label for="{{field.label.text}}">{{field.label.text}}</label>
					{{field(placeholder=field.label.text, class="shadow-sm form-control
					my-2") }}
				</div>
				{% for error in field.errors %}
				<div class="text-danger form-text">{{ error }}</div>
				{% endfor %} {% endfor %}

				<button type="submit" class="shadow btn btn-primary">
					{{ j_form_btn }}
				</button>
			</form>
		</div>
	</div>
</div>
{% block form_script %} {% endblock form_script %} {% endblock content %}
