{% extends 'base.html' %} {% block meta %}

<meta property="og:title" content="{{data.name}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="/recipe/{{data.id}}" />
<meta property="og:image" content="{{data.picture}}" />
<meta property="og:description" content="{{data.description}}" />
{% endblock meta %} {% block content %}
<div class="section">
	<div class="container">
		<div class="row text-center">
			<div class="col-12">
				<img
					src="{{data.picture}}"
					alt="{{data.name}}"
					class="shadow img-fluid"
					style="max-width: 500px"
				/>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row bg-none">
			<h1 class="text-center display-2">{{data.name}}</h1>
			{% if g.user.id == data.user_id %}
			<div class="text-center py-2">
				<a class="btn btn-primary shadow" href="/recipe/{{data.id}}/edit"
					>Edit</a
				>
				<a class="btn btn-danger shadow" href="/recipe/{{data.id}}/delete"
					>Delete</a
				>
			</div>
			{% endif %}
			<div class="text-center">
				Created By:
				<i>{{data.created_by}}</i>
			</div>
			<div class="text-left">{{data.description | safe}}</div>
		</div>
		<div class="row align-items-center">
			<div class="col-12 col-lg-7 py-5">
				<h2 class="text-center display-6">Directions:</h2>
				<ol class="list-group list-group-numbered list-group-flush">
					{% for item in directions %}
					<li class="list-group-item list-group-item-">{{item}}</li>
					{% endfor %}
				</ol>
			</div>
			<div class="col-12 col-lg-5 py-5">
				<h2 class="">Ingredients:</h2>
				<ul class="list-group list-group-flush">
					{% for item in ingredients %}
					<li class="list-group-item"><b>{{item}}</b></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
